################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PeopleManagement/.vs/PeopleManagement
/PeopleManagement/bin
/PeopleManagement/obj/Debug
/PeopleManagement/packages/Microsoft.AspNet.Mvc.5.2.7/Content
/PeopleManagement/packages/Microsoft.AspNet.Mvc.5.2.7/lib/net45
/PeopleManagement/packages/Microsoft.AspNet.Mvc.5.2.7
/PeopleManagement/packages/Microsoft.AspNet.Razor.3.2.7
/PeopleManagement/packages/Microsoft.AspNet.WebPages.3.2.7
/PeopleManagement/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/build
/PeopleManagement/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content
/PeopleManagement/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/lib/net45
/PeopleManagement/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools
/PeopleManagement/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1
/PeopleManagement/packages/Microsoft.Web.Infrastructure.1.0.0.0
/PeopleManagement/Properties/AssemblyInfo.cs
/PeopleManagement.Model/obj/Debug
/PeopleManagement.Model/Properties/AssemblyInfo.cs
/PeopleManagement.Model/bin/Debug
/PeopleManagement/packages/EntityFramework.6.4.4/build
/PeopleManagement/packages/EntityFramework.6.4.4/buildTransitive
/PeopleManagement/packages/EntityFramework.6.4.4/content/net40
/PeopleManagement/packages/EntityFramework.6.4.4/lib
/PeopleManagement/packages/EntityFramework.6.4.4/tools
/PeopleManagement/packages/EntityFramework.6.4.4/Icon.png
/PeopleManagement/packages/EntityFramework.6.4.4/EntityFramework.6.4.4.nupkg
/PeopleManagement/packages/EntityFramework.6.4.4/.signature.p7s
/PeopleManagement.Data/bin/Debug
/PeopleManagement.Data/obj/Debug
/PeopleManagement.Service/bin/Debug
/PeopleManagement.Service/obj/Debug
/PeopleManagement/packages/Antlr.3.4.1.9004
/PeopleManagement/packages/Autofac.6.0.0
/PeopleManagement/packages/Autofac.Mvc5.6.0.0
/PeopleManagement/packages/AutoMapper.10.1.1
/PeopleManagement/packages/Bootstrap.Datepicker.1.8.0.1
/PeopleManagement/packages/Microsoft.AspNet.Web.Optimization.1.1.3
/PeopleManagement/packages/Microsoft.Bcl.AsyncInterfaces.1.1.0/lib
/PeopleManagement/packages/Microsoft.Bcl.AsyncInterfaces.1.1.0/ref
/PeopleManagement/packages/Microsoft.Bcl.AsyncInterfaces.1.1.0
/PeopleManagement/packages
